.fa {
    font-size: 18px;
}  
@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

table .btn:hover {
    animation: rotateAnimation 0.5s ease-in-out infinite;
}
.actionIcon{
  display: flex;
  flex-direction: row;
}
table .btn table {
  width: 1vw;
}
      body{
        padding: 0;
        margin: 0;
      }
      table {
        text-align: left;        
      }
        

        .InfoDiv h3{
          text-align: center;
        }
        /****/
.sidebarr{
    padding-left: -5%;
}
.sidebarr .imgul li{
    height: 15%;
    margin-top: 30%;
    cursor: pointer;
}
.sidebarr .imgul{
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.imgul img{
    width: 70%;
    height: 70%;
}
.pagination {
    justify-content: center;
    color: black; 
}
.pagination .page-item a {
    color: black; 
}
.pagination .page-item.active a {
    background-color: black; 
    border-color: black; 
    color: white; 
}
.sidebarr {
  width: 4.5rem;
}


@media (max-width: 576px) {
  .sidebarr {
      width: 100%;
  }
  table {
    text-align: left;
    font-size: 80%;   
}

}


@media (min-width: 576px) {
  .sidebarr {
     
      width: 8rem;
  }

  @media (max-width: 412px) {
    .sidebarr {
        width: 100%;
        position: static;
    }

    .main-content {
        padding-left: 0; 
        padding-right: 0; 
    }

    #addb {
        width: 100%; 
        margin-bottom: 10px; 
    }
    table{
      font-size: 80%;
    }

}

 
    
}

#ModelBook span{
  color: red;
}


