body {
  font-family: "Poppins", sans-serif;
  background: #ececec;
}
/* -----------------main----------- */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  /* Add other styles as needed */
}
/* ----------------leftbox img --------------- */
.full-height-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
/*------------ Login container ------------*/
.box-area {
  width: 70%;
}
/*------------ left box ------------*/
.left-box {
  background: url("/Resources/Images/login-sign_in/signup2.png") no-repeat
    center center;
  background-size: cover;
}
/*------------ Right box ------------*/
.right-box {
  padding: 40px 30px 40px 40px;
}
/*------------ Custom Placeholder ------------*/
::placeholder {
  font-size: 16px;
}
.rounded-4 {
  border-radius: 20px;
}
.rounded-5 {
  border-radius: 30px;
}
.input-group {
  margin-top: 1px;
}
/*------------ For small screens------------*/
@media only screen and (max-width: 768px) {
  .box-area {
    margin: 0 10px;
  }
  .left-box {
    height: 100px;
    /* overflow: hidden; */
  }
  .right-box {
    padding: 20px;
  }
}
