/* line 1, ../sass/user.scss */
body {
  background-color: #f8f9fa;
  /* Light gray background */
  height: 100vh;
}

/* line 6, ../sass/user.scss */
#cover {
  padding: 20px;
  text-align: center;
}

/* line 11, ../sass/user.scss */
.wrape {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 151px;
  height: 151px;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid #58073e;
  background-color: #eee;
}

/* line 23, ../sass/user.scss */
.img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/* line 32, ../sass/user.scss */
.profile-left {
  background: linear-gradient(to right, #fb83d7, #ab8daf);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  color: #eee;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-height: 400px;
}

/* line 45, ../sass/user.scss */
hr {
  border: none;
  height: 3px;
  background: linear-gradient(to right, #36142c, #ab8daf);
}

/* line 51, ../sass/user.scss */
.profile-right {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-height: 100vh;
  overflow-y: auto;
}

/* line 61, ../sass/user.scss */
.user-info {
  margin-top: 20px;
}

/* line 65, ../sass/user.scss */
.user-info button {
  margin-top: 10px;
}

/* line 69, ../sass/user.scss */
.profile-right ul {
  list-style-type: none;
  padding: 0;
}

/* line 74, ../sass/user.scss */
.profile-right li {
  margin-bottom: 10px;
  color: #555;
}

/* line 78, ../sass/user.scss */
.container-fluid {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media (max-width: 768px) {
  /* line 86, ../sass/user.scss */
  .profile-left, .profile-right {
    margin-top: 20px;
  }
}
